[submodule "submodules/vcpkg"]
	path = submodules/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "submodules/ios-cmake"]
	path = submodules/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
